.product-item {
  font-family: 'Roboto-regular', sans-serif;
  -webkit-box-shadow: 0px 0px 5px rgba(116, 130, 142, 0);
  -moz-box-shadow: 0px 0px 5px rgba(116, 130, 142, 0);
  box-shadow: 0px 0px 5px rgba(116, 130, 142, 0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 4rem; }
.product-item__img {
  position: relative; }
.product-item__img img {
  width: 100%;
  max-width: 295px; }
.product-item__label {
  position: absolute;
  bottom: 5px;
  left: 15px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #7396B5;
  color: #7396B5;
  min-width: 60px;
  max-width: 72px;
  min-height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px; }
.product-item__label--sale {
  background-color: #1B1B1B;
  border: 1px solid #1B1B1B;
  color: #FFFFFF; }
.product-item__label--promotion {
  background-color: #FF7A41;
  border: 1px solid #FF7A41;
  color: #FFFFFF; }
.product-item__label--top {
  background-color: #50BD61;
  border: 1px solid #50BD61;
  color: #FFFFFF; }
.product-item__label span {
  display: inline-block;
  font-size: 0.75rem;
  text-transform: uppercase; }
.product-item__title {
  line-height: normal;
  font-size: 0.875rem;
  color: #1B1B1B;
  margin-bottom: 1rem; }
.product-item__content {
  background-color: #F1F1F1;
  padding: 1.75rem 1.5rem 1.2rem; }
.product-item__price-box {
  font-size: 1.125rem; }
.product-item__old-price {
  text-decoration: line-through;
  color: #BEBEBE;
  margin-left: 5px;
  display: inline-block; }
.product-item:hover, .product-item:active {
  -webkit-box-shadow: 0px 0px 5px rgba(116, 130, 142, 0.35);
  -moz-box-shadow: 0px 0px 5px rgba(116, 130, 142, 0.35);
  box-shadow: 0px 0px 5px rgba(116, 130, 142, 0.35); }